/* #depot_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
} */

/* a button {
    width: 40vw;
    min-height: 10vh;
} */

#main_container {
    padding-top: 657px;
    padding-bottom: 20px;
}

.depot_button {
    margin-bottom: 20px;
}

.depot_location_button {
    text-align: center;
    width: 80vw;
    min-height: 12vh;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #187753;
    font-size: 1.5rem;
    text-wrap: wrap;
}

/* .main_button {
    min-width: 80vw;
    min-height: 12vh;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #187753;
    font-size: 1.2rem;
}

*/
.depot_location_button:hover {
    background-color: #55ac85;
}

.depot_location_button:active {
    background-color: #55ac85;
    transform: translateY(5px);
}
