.depot_location {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    min-height: 20vh;
}

#map {
    width: 80vw;
    height: 20vh;
}

.favorite-button {
    border: 1px solid;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px; /* Adjust the size of the icon */
    color: gold; /* Color of the star */
}

.favorite-button:hover {
    color: orange; /* Color when hovering over the button */
}
