#main_container {
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 1.3rem;
}

.general_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 25vh;
    width: 100%;
    margin-bottom: 70px;
}

.material_image {
    width: 40vw; /* Adjust the width as needed */
    height: 20vh; /* Adjust the height as needed */
    border-radius: 10px;
    border: 1px solid #187753;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    overflow: hidden; /* This ensures that the image does not overflow its container */
    display: flex;
    align-items: center; /* Centers the image vertically */
    justify-content: center; /* Centers the image horizontally */
}

.material_image img {
    max-width: 100%; /* Ensures the image width does not exceed the container width */
    max-height: 100%; /* Ensures the image height does not exceed the container height */
    object-fit: cover; /* Ensures the image covers the entire container without distortion */
}

.material_specifications {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
    height: 100%;
}

.insert_name,
.insert_type,
.insert_boolean {
    border: 1px solid #187753;
    border-radius: 10px;
    padding: 3px 6px;
}

.depot_information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 20vh;
    margin-left: 20px;
    margin-right: 20px;
}

.material_description {
    border: 1px solid #187753;
    border-radius: 10px;
    padding: 3px 6px;
    margin-top: 3px;
}

.depot_location {
    border: 1px solid #187753;
    border-radius: 10px;
    padding: 3px 6px;
    margin-top: 3px;
}

.description {
    margin-bottom: 20px;
}
