* {
    box-sizing: border-box;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.search_button,
.depot_locations_button,
.other_resources_button,
.profile_button {
    min-width: 40vw;
    min-height: 15vh;
}



