#navbar {
    height: 10vh;
    border-bottom: 2px black solid;
    background-color: grey;
    display: flex;
    padding: 1vh;
    justify-content: space-between;
}

#navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pixelify Sans;
    font-size: 2rem;
    text-align: center;
}

#navbar_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#compost_id {
    font-size: 4rem;
}

#footer {
    background-color: grey;
    height: 10vh;
    border-top: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#home_button {
    background-color: white;
    max-height: 10vh;
    border: none;
    border-radius: 5px;
}

.home_button_icon {
    max-height: 5vh;
}
