* {
    box-sizing: border-box;
}

#navbar {
    color: white;
    height: 10vh;
    background-color: #187753;
    display: flex;
    padding: 1vh;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Pixelify Sans; */
    font-size: 1.8rem;
    text-align: center;
    padding-right: 17px;
}

#navbar_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#compost_id {
    font-size: 4rem;
}

#footer {
    background-color: #187753;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.footer_button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 10px;
    color: white;
}

.footer_button:hover {
    background-color: white;
    color: #187753;
}

.material-symbols-outlined {
    font-size: 2.2rem;
}
