.main_button {
    font-size: 1.7rem;
}

.subcategory_button {
    margin-bottom: 0px;
}

#subcategoriesContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: scroll;
    margin-bottom: 10px;
}
