#main_container {
    justify-content: space-evenly;
}

.resource {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80vw;
    min-height: 15vh;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    color: white;
    background-color: #187753;
    font-size: 1.2rem;
    gap: 15px;
}

.resource img {
    width: 20vw;
    margin-left: 15px;
}
