/* #main_container {
    padding-top: 0px;
    padding-bottom: 40px;
} */

label {
    margin-right: 10px;
}

#profile-info-display {
    font-size: 1.3rem;
}

#personalInfoFields {
    display: flex;
    flex-direction: column;
    gap: 22px;
    border: none;
}

.presentation_field {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
}

.favourite_display {
    border: 1px solid #187753;
    border-radius: 10px;
    padding: 3px 6px;
    /* margin-top: 10px; */
    min-width: 80vw;
}

#profile_buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
}

.profile_button_styles {
    min-width: 25vw;
    min-height: 5vh;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #187753;
}

.profile_button_styles:hover {
    background-color: #55ac85;
}

.profile_button_styles:active {
    background-color: #55ac85;
    transform: translateY(5px);
}

#profile_favourite_depots {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;
    max-height: 15vh;
}
