* {
    box-sizing: border-box;
}

#search-recyclable-function {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#list-of-recyclables-types {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

#list-of-recyclables-types a {
    display: block;
    text-decoration: none;
    color: black;
    border-style: collapse;
    border: 1px solid black;
    background-color: lightgrey;
}