#main_container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    height: 80vh;
}

/* CSS for buttons */
#main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main_button {
    min-width: 40vw;
    min-height: 15vh;
}
