#navbar {
    height: 10vh;
    border-bottom: 2px black solid;
    background-color: grey;
    display: flex;
    padding: 1vh;
    justify-content: space-between;
}

#compost-id {
    font-size: 8vh;
}

#burger-menu {
    font-size: 8vh;
}

#main-container {
    background-color: beige;
    height: 80vh;
}

/* Ephraim's css start */

#main_user_interaction {
    box-sizing: border-box;
}

#main_user_interaction {
    display: flex;
    height: 80vh;
    /* width: 100vw; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 40%; */
}

.main_teetotee {
    font-family: Pixelify Sans;
    font-size: 4rem;
    text-align: center;
}

.main_text_boxes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 50%; */
    max-height: fit-content;
}

.main_text_box1,
.main_text_box2,
.main_text_box3 {
    display: flex;
    padding: 5px;
}

.main_text_box_search,
.main_text_box_username,
.main_text_box_password {
    border-radius: 50px;
}

input {
    border-color: black;
    border-style: solid;
}

label {
    width: 100px;
    font-family: Pixelify Sans;
}

#main_sign_in_button {
    padding: 5px;
    text-align: center;
}

#main_sign_in_button button {
    border-radius: 50px;
    font-family: Pixelify Sans;
    border-style: solid;
    border-color: black;
}

#footer {
    background-color: grey;
    height: 10vh;
    border-top: 2px black solid;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: space-evenly;
    /* padding-left: 20px; */
    color: white;
    /* gap: 20px; */
    /* Creates spacing between the elements */
}

.footer-content {
    display: flex;
    font-family: Pixelify Sans;
    align-items: center;
    gap: 20px;
    /* Provides spacing between the items */
}

#footer a {
    text-decoration: none;
    /* Removes the underline */
    font-family: Pixelify Sans;
    color: white;
    /* Makes link text white */
    margin: 0 10px;
    /* Adds some spacing around each link */
    transition: color 0.2s;
    /* Adds a smooth transition on hover */
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Increase this value to add more space between icons */
}

.footer-icons a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.footer-icons a:hover {
    color: #ddd;
}

/* Sebastian's css End */



/* CSS for buttons */
#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main_button {
    min-width: 40vw;
    min-height: 15vh;
}

#home_button {
    background-color: white;
    max-height: 10vh;
}

.home_button_icon {
    max-height: 5vh;
}

